@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  padding: 1rem;
  display: grid;
  place-items: center;
}
td, th{
  width: fit-content;
  background-color: aquamarine;
  border-bottom: 3px solid black;
}
